.recipeContainer {
  border: 1px solid var(--primary-grey);
  /* width: 100%; */
}

.recipeCard {
  width: 100%;
  background-color: var(--secondary-background-trans);
  border: 1px solid var(--primary-grey);
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;
  gap: 0em 1em;
  grid-template-areas:
    ". ."
    ". .";
  padding: 2rem;
}

@media (max-width: 606px) {
  .recipeCard {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 378px) {
  .recipeCard {
    padding: 1rem;
  }
}

.recipeCard img {
  max-height: 20rem;
  max-width: 100%;
  object-fit: cover;
}

.recipeImage {
  padding: 2rem;
  border: 1px solid transparent;
}
.recipeBackButton {
  padding: 1rem;
  border: 1px solid var(--primary-grey);
  margin-top: 1rem;
  transition: all 0.5s;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .recipeBackButton {
    align-items: flex-end;
    align-self: flex-end;
  }
}
@media (max-width: 708px) {
  .recipeBackButton {
    font-size: 80%;
  }
}
@media (max-width: 658px) {
  .recipeBackButton {
    font-size: 60%;
    text-align: center;
  }
}
@media (max-width: 606px) {
  .recipeBackButton {
    font-size: 100%;
  }
}

.recipeBackButton:hover {
  background-color: var(--primary-white);
  color: var(--secondary-background);
  transition: all 0.5s;
}
.printButton {
  background-color: transparent;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid var(--primary-yellow);
  transition: all 0.5s;
}

@media (max-width: 1148px) {
  .printButton {
    padding: 0.5rem;
  }
}
@media (max-width: 968px) {
  .printButton {
    padding: 0.25rem;
  }
}
@media (max-width: 848px) {
  .printButton {
    font-size: 80%;
    width: 100%;
  }
}
.printButton:hover {
  background-color: var(--primary-white);
  color: var(--secondary-background);
  transition: all 0.5s;
}

.recipeIconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  transform: translate(1px);
}

@media (max-width: 768px) {
  .recipeIconsContainer {
    flex-direction: column;
  }
}
.receipeCardIcons {
  background-color: var(--primary-grey);
  display: flex;
  align-self: flex-end;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 1rem;
  width: 15%;
}

@media (max-width: 968px) {
  .receipeCardIcons {
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .receipeCardIcons {
    width: 30%;
  }
}

.recipeMainInfo {
  border: 1px solid transparent;
  border-left: 1px solid var(--primary-grey);
}

@media (max-width: 606px) {
  .recipeMainInfo {
    border-left: none;
  }
}

.ingredientListContainer {
  padding-left: 2rem;
  padding-top: 0.25rem;
}

@media (max-width: 606px) {
  .ingredientListContainer {
    padding-left: 1rem;
    margin-bottom: 2rem;
  }
}

.ingredientList {
  padding-top: 0.5rem;
  list-style: none;
  font-weight: 200;
}

@media (max-width: 378px) {
  .ingredientList {
    font-size: 85%;
  }
}

.methodContainer {
  border-left: 1px solid var(--primary-grey);
  padding-left: 1rem;
  font-weight: 200;
}

@media (max-width: 606px) {
  .methodContainer {
    border-left: none;
  }
}
.currentRecipeInfoContainer {
  padding: 1rem;
}

.currentRecipeInfoContainer h1 {
  font-weight: 100;
  font-size: 400%;
  padding-bottom: 2rem;
  margin-top: 2rem;
  /* border-bottom: 1px solid var(--primary-yellow); */
}

@media (max-width: 848px) {
  .currentRecipeInfoContainer h1 {
    font-size: 300%;
  }
}
@media (max-width: 768px) {
  .currentRecipeInfoContainer h1 {
    font-size: 225%;
  }
}
@media (max-width: 378px) {
  .currentRecipeInfoContainer h1 {
    font-size: 175%;
  }
}
.currentRecipeInfoContainer h2 {
  font-weight: 500;
  font-size: 125%;
  border-bottom: 1px solid var(--primary-yellow);
  padding-bottom: 1rem;
}
@media (max-width: 848px) {
  .currentRecipeInfoContainer h2 {
    font-size: 115%;
  }
}
@media (max-width: 768px) {
  .currentRecipeInfoContainer h2 {
    font-size: 105%;
  }
}

@media (max-width: 378px) {
  .currentRecipeInfoContainer h2 {
    font-size: 95%;
  }
}
.recipeLongDescription {
  font-weight: 100;
  font-size: 125%;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

@media (max-width: 848px) {
  .recipeLongDescription {
    font-size: 115%;
  }
}

@media (max-width: 378px) {
  .recipeLongDescription {
    font-size: 95%;
  }
}
.methodList {
  padding-top: 1rem;
  padding-left: 1rem;
}

@media (max-width: 378px) {
  .methodList {
    font-size: 85%;
  }
}
.methodOrderedList {
  padding-left: 1rem;
}

.methodHeading,
.ingredientHeading {
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--primary-grey);
  width: 30%;
}

.recipeSubContainer {
  margin-top: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.recImg {
  /* border: 5px solid purple; */
  height: 25rem;
}

.recipeSubInfo {
  background-color: var(--primary-grey);
  border: 1px solid var(--primary-grey);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.25rem;
  transition: all 0.5s;
  padding-right: 0.5rem;
  padding-left: 5rem;
  position: relative;
}

.recipeSubInfo img {
  max-width: 5rem;
  max-height: 5rem;
}
.recipeSubInfo:hover {
  background-color: var(--primary-white);
  transition: all 0.5s;
  color: var(--secondary-background);
}
.recipeSubInfo:hover > .submitName h2 {
  background-color: var(--primary-white);
  transition: all 1.5s;
  color: var(--secondary-background);
}
.recipeSubInfo:hover > .submitName p {
  background-color: var(--primary-white);
  transition: all 1.5s;
  color: var(--secondary-background);
}

.submitName {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  transition: all 1s;
}
.submitName h2 {
  transition: all 1s;
}

@media (max-width: 378px) {
  .submitName h2 {
    font-size: 95%;
    font-weight: 500;
  }
}
@media (max-width: 378px) {
  .submitName p {
    font-size: 85%;
  }
}
.submitName p {
  transition: all 1s;
}

.recipeSubmitButton {
  /* background-color: var(--secondary-background); */
  /* color: var(--primary-yellow); */
  transition: all 0.5s;
  padding-top: 0.5rem;
  color: var(--primary-white);
}
