.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 6rem;
  min-height: 100vh;
}

.foodTypesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.foodCardContainer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-row-gap: 1rem;
}

.card {
  border: 1px solid var(--primary-grey);
  border-radius: 5px;
  background-color: var(--secondary-background-trans);
  padding: 1.5rem;
  transition: all 0.5s;
}
.card:hover {
  border: 1px solid var(--primary-yellow);
  cursor: pointer;
  transition: all 0.5s;
}
